*{
            margin: 0;
            padding: 0;
        }
        .background{
            background-color: rgb(37, 35, 35);
            height: 100vh;
            color: white;  
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }
        .calculadora{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 15px;
            padding: 25px;

        }
        .botoes{
            background-color: rgb(31, 29, 30);
            color: rgb(212, 193, 193);
            width: 50px;
            height: 50px;
            font-size: 25px;
            cursor: pointer;
            border: none;
            margin: 3px;
            border-radius: 5px;
        }
        .botoes:hover{
            background-color: rgb(24, 23, 23);
        }
        #resultado{
            width: 210px;
            height: 30px;
            background-color: white;
            margin: 10px;
            font-size: 25px;
            color: black;
            text-align: right;
            padding: 5px;
        }